---
import Layout from "../layouts/Layout.astro";
import Pulseras from "../components/Pulseras.jsx";
import Destellos from "../../public/Destelleos.png";
---

<Layout title="Lista de Precios - Martesanias">
  <main>
    <h1 id="mes"></h1>
    <h2>Variedad de colores y dise침os. Consulta nuestra selecci칩n.</h2>
    <Pulseras client:only />
    <a
      class="btn__pedido"
      href="https://api.whatsapp.com/send?phone=5492346539622&text=Hola%2C%20quisiera%20hacer%20mi%20pedido%20de%20%E2%9C%A8mar.tesanias%E2%9C%A8"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img class="des" src={Destellos.src} alt="Destellos" />

      Quisiera hacer mi pedido
    </a>
  </main>
</Layout>

<style lang="scss">
  $mar: (
    1: #f8ebf3,
    2: #f3d7e9,
    3: #dc8aba,
    4: #cd679f,
    5: #9f3768,
    sombra: #cd679f7e,
  );

  @function mar($shade) {
    @return map-get($mar, $shade);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
    }

    h2 {
      max-width: 300px;
      font-size: 16px;
      text-align: center;
      color: mar(1);
    }
  }

  a {
    margin-top: 20px;
    text-decoration: none;
    color: mar(5);
    background-color: mar(1);
    padding: 7px 5px;
    border-radius: 8px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 14px 30px 0 mar(sombra);

    .des {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -40%;
      left: -7%;
    }
  }
</style>

<script>
  const meses = [
    "Enero",
    "Febrero",
    "Marzo",
    "Abril",
    "Mayo",
    "Junio",
    "Julio",
    "Agosto",
    "Septiembre",
    "Octubre",
    "Noviembre",
    "Diciembre",
  ];

  const mesActual = meses[new Date().getMonth()];
  const a침oActual = new Date().getFullYear();
  const txtMes = document.getElementById("mes");

  txtMes.textContent = `Lista de precios - ${mesActual} ${a침oActual}`;

  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".btn");
    buttons.forEach((button) => {
      button.addEventListener("click", function () {
        const id = this.id.split("-")[1];
        const slider = document.getElementById(`slider-${id}`);
        slider.classList.toggle("active");
      });
    });
  });
</script>
