---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
const btns = [
  { id: 1, nombre: "Pulseras con Piedras" },
  { id: 2, nombre: "Pulseras para Compartir" },
  { id: 3, nombre: "Pulseras Tematicas" },
  { id: 4, nombre: "Pulseras Basicas" },
  { id: 5, nombre: "Pulseras en Promo" },
];
---

<Layout title="Lista de Precios - Martesanias">
  <main>
    <h1>Lista de precios - julio 2024</h1>

    {btns.map((btn) => (
        <p class="btn" id={`btn-${btn.id}`}>{btn.nombre}</p>
        <div class="slider-container" id={`slider-${btn.id}`} style="display: none;">
          <Slider />
        </div>
    ))}
  </main>
</Layout>

<style lang="scss">
  $mar: (
    1: #f8ebf3,
    2: #f3d7e9,
    3: #dc8aba,
    4: #cd679f,
    5: #9f3768,
  );

  @function mar($shade) {
    @return map-get($mar, $shade);
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    h1 {
      margin-top: 10px;
      font-size: 24px;
    }

    .btn {
      text-align: center;
      width: 70%;
      border-radius: 10px;
      background-color: mar(2);
      padding: 10px 5px;
      font-weight: bold;
      cursor: pointer; // Añadido para indicar que es interactivo
    }

    .slider-container {
      width: 70%;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".btn");
    buttons.forEach(button => {
      button.addEventListener("click", function () {
        const id = this.id.split('-')[1];
        const slider = document.getElementById(`slider-${id}`);
        slider.style.display = slider.style.display === "none" ? "block" : "none";
      });
    });
  });
</script>
