---
import logo from "../../public/Logo.png";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src={logo.src} alt="Logo de martesanias" />
    </header>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  $mar: (
    1: #f8ebf3,
    2: #f3d7e9,
    3: #dc8aba,
    4: #cd679f,
    5: #9f3768,
  );

  @function mar($shade) {
    @return map-get($mar, $shade);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Playwrite DE Grund", cursive;
    background-color: mar(5);
  }
  header{
	display: grid;
	place-items: center;
	height: 100px;
    background-color: mar(1);
	img{
		height: 70%;
		width: 100%;
		object-fit: contain;
	}
  }

  h1{
	color: mar(1);
  }
</style>
